<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style2.css">
  <title>usuarios</title>
</head>
<body>
  <div class="login-box">
  <% criado.forEach((usuario) => { %>
    <h1><%= usuario.nome %></h1> <br/>
    <%= usuario.senha %><br/>
  <% }) %>
  <form action="/deslogar" method="post">
    <input type="submit" value="Deslogar">
  </form>
</div>
</body>
</html>